/*index css*/
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:link {
  text-decoration: none;
}
body,
html {
  font: 14px "Microsoft Yahei", "微软雅黑";
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
#menu-left {
  width: 260px;
  background: #222;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
}
#menu-left .menu-logo {
  text-align: center;
  margin-top: 15px;
}
#menu-left .menu-logo img {
  max-width: 80px;
}
#menu-left .menu-list {
  clear: left;
  list-style: none;
  margin: 40px 0;
}
#menu-left .menu-list .menu .second-nav {
  clear: both;
  display: none;
  list-style: none;
  text-align: center;
  line-height: 35px;
  text-indent: 15%;
}
#menu-left .menu-list .menu .second-nav .second-nav-list {
  cursor: pointer;
  margin-bottom: 1px;
  border-left: 3px solid #222;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
#menu-left .menu-list .menu .second-nav .second-nav-list:hover {
  background: #000000;
  border-left: 3px solid aquamarine;
}
#menu-left .menu-list .menu .second-nav .second-nav-list.active {
  background: #000000;
  border-left: 3px solid aquamarine;
}
#menu-left .menu-list .menu .second-nav .second-nav-list.active .add:before,
#menu-left .menu-list .menu .second-nav .second-nav-list.active .add:after {
  background: aquamarine;
}
#menu-left .menu-list .menu .second-nav .second-nav-list.active a {
  color: aquamarine;
}
#menu-left .menu-list .menu .second-nav .second-nav-list a {
  color: #fff;
  padding: 15px 0;
}
#menu-left .menu-list .menu .second-nav .second-nav-list a:hover {
  color: aquamarine;
}
#menu-left .menu-list .menu .second-nav .second-nav-list .three-nav {
  clear: both;
  display: none;
  list-style: none;
  line-height: 35px;
  text-indent: 35%;
}
#menu-left .menu-list .menu .second-nav .second-nav-list .three-nav .three-nav-list {
  cursor: pointer;
}
#menu-left .menu-list .menu .second-nav .second-nav-list .three-nav .three-nav-list a {
  color: #fff;
  padding: 10px 0;
}
#menu-left .menu-list .menu .second-nav .second-nav-list .three-nav .three-nav-list a:hover {
  color: aquamarine;
}
#menu-left .menu-list .menu .second-nav .second-nav-list .three-nav .three-nav-list a.detail {
  color: aquamarine;
}
#menu-left .menu-list .menu .add {
  height: 10px;
  width: 10px;
  display: inline-block;
  position: relative;
  left: 10px;
}
#menu-left .menu-list .menu .add:before,
#menu-left .menu-list .menu .add:after {
  content: '';
  height: 2px;
  width: 10px;
  display: block;
  background: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  position: absolute;
  top: 4px;
  left: 0;
}
#menu-left .menu-list .menu .add:after {
  height: 10px;
  width: 2px;
  top: 0;
  left: 4px;
}
#menu-left .menu-list .menu .menu-content {
  color: #fff;
  display: block;
  text-indent: 45%;
  padding: 20px 0;
  position: relative;
  text-decoration: none;
  margin-bottom: 1px;
}
#menu-left .menu-list .menu .menu-content:hover {
  background: #000;
  color: aquamarine;
}
#menu-left .menu-list .menu .menu-content.active {
  background: #000;
  color: aquamarine;
}
#menu-left .menu-list .menu .menu-content.active .add:before,
#menu-left .menu-list .menu .menu-content.active .add:after {
  background: aquamarine;
}
#menu-left .menu-list .menu .menu-content span.cur {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: #eeeeef;
  position: absolute;
  right: 0;
  top: 21px;
}
.ico {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/ico.png) no-repeat center;
  left: 29%;
  top: 17px;
  position: absolute;
}
.ico.home {
  background-position: 0 0;
}
.ico.table {
  background-position: -25px 0;
}
.ico.auto {
  background-position: -50px 0;
}
.ico.comment {
  background-position: -75px 0;
}
.ico.blog {
  background-position: -100px 0;
}
.ico.movie {
  background-position: 0 -25px;
}
.ico.case {
  background-position: -100px -25px;
}
.ico.product {
  background-position: -50px -25px;
}
.ico.tool {
  background-position: -125px -25px;
}
.ico.user {
  background-position: -25px -25px;
}
.ico.update {
  width: 20px;
  height: 20px;
  left: 10%;
  top: 18px;
  background-position: -125px 0;
}
.ico.exit {
  width: 20px;
  height: 20px;
  left: 10%;
  top: 74px;
  background-position: -145px 0;
}
#content-right {
  width: 85%;
  height: auto;
  float: right;
  color: #ffffff;
  box-sizing: border-box;
}
#content-right .content-header {
  background: #222;
  height: 55px;
  width: 85%;
  right: 0;
  top: 0;
  position: fixed;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
#content-right .content-header .time {
  background: rgba(240, 240, 240, 0.1) none repeat scroll 0 0;
  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 30px;
  box-shadow: 0 1px 0 rgba(240, 240, 240, 0.1);
  color: #ffffff;
  margin: 12px 20px;
  padding: 5px 15px;
  font-size: 13px;
  text-align: center;
}
#content-right .content-header .user-info {
  margin-right: 100px;
  line-height: 55px;
  position: relative;
  cursor: pointer;
}
#content-right .content-header .user-info img {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 70px;
  margin-top: 8px;
}
#content-right .content-header .user-info .arrow-down {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  position: absolute;
  top: 25px;
  right: -17px;
}
#content-right .content-header .user-info em {
  text-align: right;
  font-style: normal;
  position: absolute;
  top: 0;
  width: 80px;
  right: 2px;
}
#content-right .content-header .user-info .user-nav {
  display: none;
  width: 120px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  z-index: 10;
  right: -39px;
}
#content-right .content-header .user-info .user-nav .arrow-up {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #F4F4F4;
  position: absolute;
  left: 70%;
  top: -15px;
  z-index: 10;
}
#content-right .content-header .user-info .user-nav .user-nav-ul {
  list-style: none;
}
#content-right .content-header .user-info .user-nav .user-nav-ul .user-nav-list {
  clear: both;
  text-indent: 40px;
  font-size: 14px;
}
#content-right .content-header .user-info .user-nav .user-nav-ul .user-nav-list a {
  color: #333;
}
#content-right .content-header .user-info .user-nav .user-nav-ul .user-nav-list:nth-child(1) {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#content-right .content-header .user-info .user-nav .user-nav-ul .user-nav-list:nth-child(2) {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#content-right .content-header .user-info .user-nav .user-nav-ul .user-nav-list:hover {
  background: #f4f4f4;
}
#content-right #main-content {
  width: 100%;
  color: #333;
  padding: 40px;
  overflow-x: hidden;
  text-align: center;
  vertical-align: middle;
}
/*屏幕分辨率低于1320px，使用下面的css*/
@media screen and (max-width: 1320px) {
  #menu-left {
    width: 220px;
  }
  #content-right .content-header {
    left: 220px;
  }
  #content-right #main-content {
    left: 220px;
  }
}
/*视频管理界面 css*/
.table > tbody > tr {
  cursor: pointer;
}
.table > tbody > tr:nth-child(1) {
  cursor: default;
  pointer-events: none;
}
.table > tbody > tr > td,
.table > tbody > tr th {
  vertical-align: middle;
  box-sizing: border-box;
}
.table > tbody > tr > th {
  text-align: center;
}
.table > tbody > tr > td {
  text-align: center;
}
.panel {
  min-width: 480px;
}
.panel-title {
  margin-top: 8px;
}
.border-dec {
  width: 5px;
  height: 20px;
  background: #227DC5;
  position: absolute;
  left: 0;
  top: 18px;
}
.movice-name {
  border: none;
  background: none;
  outline: none;
}
.movice-name.update_name {
  border: 1px solid #ccc;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  padding: 5px 5px;
  color: #666;
}
.ok,
.remove {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 3px;
  text-align: center;
  line-height: 25px;
}
.ok {
  color: #227DC5;
}
.remove {
  color: #D9534F;
}
/*
  此css适用于所有添加内容界面
*/
label {
  font-family: "Microsoft Yahei", "微软雅黑";
}
.form-group {
  margin-bottom: 20px;
}
/*
  此css适用于所有添加内容界面 end
*/

.img_add input[type='file'] {
  /*position: relative;*/
  display: block;
  border:none;
  outline: none;
}
/*.img_add input[type='file']:before {
    content: '';
    display: block;
    width: 260px;
    height: 180px;
    background:#fff url(../img/add.png) no-repeat top left;
    position: absolute;
}*/
.rewri_file {
  display:block;
  width: 150px;
  height: 80px;
  border-radius:10px;
  position: relative;
  cursor:pointer;
  background: #fff;
}
.rewri_file span {
  width: 150px;
  height: 80px;
  background: url(../img/add.png) no-repeat center center;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  bottom:0;
  z-index:0;
}
.rewri_file input[type='file'] {
  width: 150px;
  height: 80px;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  cursor:pointer;
  z-index:1;
}
.img_dat {
  display:inline-block;
  width: 150px;
  height: 80px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius:10px;
  position: relative;
  cursor:pointer;
  font-size:16px;
  color:#fff;
  text-align: center;
  overflow: hidden;
}
.img_dat img {
  width: 150px;
  height: 80px;

}
.img_dat span {
  display: none;
}
.img_dat:hover span{
  display: inline-block;
  width: 150px;
  height: 80px;
  background: rgba(0,0,0,.5) url(../img/delete.png) no-repeat center center;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  bottom:0;
  z-index:999;
}

.only_read {
  border:none;
  background: none;
  outline: none;

  overflow:auto;
  background-attachment:fixed;
  background-repeat:no-repeat;
  border-style:solid;

  border-color:#FFFFFF
}
.only_read[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background: #fff;
  border:none;
  outline: none;
  box-shadow: none;
}
#imgs .img_dat,#imgs .img_dat img{
  width: 260px;
  height: 150px;
}
#imgs .img_dat:hover span{
  display:none
}
