
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Microsoft Yahei";
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:focus {
    outline:none;
    -moz-outline:none;
}